.heroOne {
  margin: 30px var(--paddingHorizontal--);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  background-color: #fec66f;
}
.heroOne > div:nth-child(1) {
  width: 60%;
}
.heroOne > div > h1 {
  margin-bottom: 25px;
  font-size: var(--lHeaderTwoFontSize--);
}
.heroOne > div > p {
  margin-bottom: 30px;
  font-size: var(--lHeaderTagFontSize--);
}
