.heroTwoDiv {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.heroTwoDiv > div:nth-child(1) > h1 {
  font-size: 24px;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
  color: white;
}

.heroTwoDiv > div:nth-child(2) > img {
  width: 25vh;
  height: 25vh;
  object-fit: contain;
}
.customButtonTwo {
  background-color: transparent;
  border-radius: 5px;
  border: 1px dotted white;
  font-size: 14px;
  letter-spacing: 1.2px;
  padding: 10px 20px;
  color: var(--grey--);
  cursor: pointer;
}
