.ustudent {
  padding: 20px 40px;
}
.noStudents {
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 4px rgb(0 0 0 / 13%);
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 220px; */
  margin-bottom: 25px;
  flex-direction: column;
}
.noStudents > img {
  height: 250px;
  width: 250px;
}
.noStudents > p {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.noStudents > button {
  background-color: var(--secondColor--);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease;
  letter-spacing: 1.2px;
  margin-top: 20px;
}
.table {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 4px rgb(0 0 0 / 13%);
  background-color: white;
  border-radius: 5px;
}
.tableHeading {
  height: 12vh;
}
.table > tr {
  height: 8vh;
}
/* .tableBorder {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
} */
.table > tr > th {
  text-align: start;
}

.addressCopy > i {
  margin-left: 20px;
  cursor: pointer;
  transition: all 1ms ease-in-out;
  color: lightgray;
}
.addressCopy > i:hover {
  color: var(--secondColor--);
}
